.stars {
    display:none;
}

/* Apps Tile CSS */
.box-part{
    display: inline-block;
    height: 90%;
    border-radius: 4px;
    cursor: pointer;
    border: 0.5px solid #d6d6d6;
    padding: 1rem 1.5rem;
    transition: .2s;
    background: #ffffff;
}

.card-inside{
  overflow: hidden;
}

.box-part:hover {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 0 1.2em rgba(0, 0, 0, 0.2);
    border: solid 0.5px rgba(0, 0, 0, 0.2);
}

.box-part:hover .stars {
    display: block;
}

.text{
    margin:20px 0px;
}

.app-logo {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}

.true-divide {
    width:30%;
    height:100%;
}

.right-divide {
    float: right;
    position:absolute;
    max-height: 155px;
}

.desc-spaced {
    font-size: 0.95rem;
    line-height: normal;
    color: #737373;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-button-title {
    font-size: 1.0rem;
}

.tile-legend{
    font-size: 65%;
    color: grey;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
}

.authored {
    font-size: 0.68rem;
    line-height: normal;
}

.card-header{
    display: flex;
    align-items: center;
    height: 55px;
    overflow: hidden;
    padding: 0;
    background: none;
    border: none;
  }
