{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <div class="page-header">
        <h1>Sign In</h1>
    </div>
</div>
{% if error %}
<div class="row">
    <div class="col-md-12 alert alert-error">
        {{ error }}
    </div>
</div>
{% endif %}
<div class="col-md-12 ">
    <br />
    <span class="alert alert-danger">
        <b>Notice : The IGB App Store will not give or sell your personal information
            to others.</b>
    </span>
</div>
<br />
<div class="col-md-12 ">
    <br />
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next_url }}" class="btn btn-success">
        Sign in with Google <i class="icon-chevron-right icon-white"></i>
    </a>
</div>
<div class="col-md-12 ">
    <br />
    <a id="signoutandinlink" href="#" onclick="signOutAndInOfGoogle();">Click here to sign into another Google account.</a>
</div>
<script type="text/javascript">
function signOutAndInOfGoogle() {
    var logoutframe =
        $('<iframe>').
        attr('src', 'https://accounts.google.com/logout').
        hide();
    $('body').append(logoutframe);
    $('#signoutandinlink').replaceWith('<img src="{% get_static_prefix %}common/img/loading_small.gif">');
    setTimeout(function() {
        logoutframe.remove();
        window.location = "{% url 'social:begin' 'google-oauth2' %}?next={{ next_url }}";
    }, 2000);
}
</script>
{% endblock %}
